<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web">
      <section name="paymentGatewayService" type="Asi.iBO.Commerce.PaymentGatewayServiceSection, Asi.iBO" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
      <section name="imisSearch" type="Asi.Providers.Search.SearchSection, Asi.Providers" />
    </sectionGroup>
    <sectionGroup name="iMIS">
      <section name="SystemParams" type="Asi.SystemConfig, Asi" />
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
      <section name="Soa" type="Asi.Soa.Core.Configuration.SoaConfiguration, Asi.Soa.Core.Contracts" />
    </sectionGroup>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <system.runtime.remoting>
    <application>
      <service>
        <activated type="Asi.Data.DataServer, Asi" />
        <activated type="Asi.Data.DataServerHelper, Asi" />
      </service>
      <lifetime leaseTime="10M" sponsorshipTimeOut="2M" renewOnCallTime="2M" LeaseManagePollTime="10s" />
      <channels>
        <channel ref="http">
          <serverProviders>
            <formatter ref="binary" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
  <system.codedom>
    <compilers>
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Web.UI" publicKeyToken="121fae78165ba3d4" />
        <bindingRedirect oldVersion="2008.1.1.20-2011.1.519.40" newVersion="2013.2.717.45" />
        <bindingRedirect oldVersion="2012.2.607.40-2013.3.1114.45" newVersion="2014.1.403.45" />
        <bindingRedirect oldVersion="2012.2.607.40-2013.3.1114.45" newVersion="2013.2.717.45" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Payflow_dotNET" publicKeyToken="14aa1e8d77f2a97c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="DataSource.iMIS.Connection" connectionString="Data Source=imisdb-01;Initial Catalog=IMISLIVE;User ID=sa;Password=W1ll0wM@nor;MultipleActiveResultSets=True;Application Name=members_site;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <pages autoEventWireup="false" enableEventValidation="false" validateRequest="false" clientIDMode="AutoID">
      <controls>
        <add namespace="Asi.Web.UI.WebControls" tagPrefix="asiweb" assembly="Asi.Web" />
        <add namespace="Asi.Web.UI.ResultViewer" tagPrefix="asiResultsViewer" assembly="Asi.Web" />
        <add namespace="Microsoft.Web.UI.WebControls" tagPrefix="iewc" assembly="Microsoft.Web.UI.WebControls, Version=1.0.2.226, Culture=neutral" />
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
      <tagMapping>
        <!-- Fixes issue with Web Parts not working with ASP.NET Ajax. See http://forums.asp.net/p/1087200/1621227.aspx -->
        <add tagType="System.Web.UI.WebControls.WebParts.WebPartManager" mappedTagType="Sample.Web.UI.WebParts.WebPartManager, Sample.Web.UI.WebParts" />
        <!-- Fixes issue with control validators working with ASP.NET Ajax. See http://weblogs.asp.net/lkempe/archive/2007/03/26/asp-net-ajax-and-asp-net-validators.aspx -->
        <add tagType="System.Web.UI.WebControls.CompareValidator" mappedTagType="Sample.Web.UI.Compatibility.CompareValidator, Validators, Version=1.0.0.0" />
        <add tagType="System.Web.UI.WebControls.CustomValidator" mappedTagType="Sample.Web.UI.Compatibility.CustomValidator, Validators, Version=1.0.0.0" />
        <add tagType="System.Web.UI.WebControls.RangeValidator" mappedTagType="Sample.Web.UI.Compatibility.RangeValidator, Validators, Version=1.0.0.0" />
        <add tagType="System.Web.UI.WebControls.RegularExpressionValidator" mappedTagType="Sample.Web.UI.Compatibility.RegularExpressionValidator, Validators, Version=1.0.0.0" />
        <add tagType="System.Web.UI.WebControls.RequiredFieldValidator" mappedTagType="Sample.Web.UI.Compatibility.RequiredFieldValidator, Validators, Version=1.0.0.0" />
        <add tagType="System.Web.UI.WebControls.ValidationSummary" mappedTagType="Sample.Web.UI.Compatibility.ValidationSummary, Validators, Version=1.0.0.0" />
      </tagMapping>
    </pages>
    <siteMap defaultProvider="AsiSitemapProvider" enabled="true">
      <providers>
        <add name="AsiSitemapProvider" type="Asi.Web.SiteMapProvider,Asi.Web" securityTrimmingEnabled="true" />
        <add name="AsiPreviewSitemapProvider" type="Asi.Web.PreviewSiteMapProvider,Asi.Web" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    <compilation defaultLanguage="c#" debug="false" batch="false" tempDirectory="c:\net_tmp" targetFramework="4.5">
      <assemblies>
        <add assembly="cscompmgd, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Runtime.Serialization.Formatters.Soap, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <!--<add assembly="CrystalDecisions.Shared, Version=9.2.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />-->
        <!--<add assembly="CrystalDecisions.CrystalReports.Engine, Version=9.2.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />-->
        <!--<add assembly="CrystalDecisions.Web, Version=9.2.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />-->
        <!--<add assembly="CrystalDecisions.ReportSource, Version=9.2.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />-->
        <!--<add assembly="CrystalDecisions.Enterprise.Framework, Version=9.2.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />-->
        <!--<add assembly="CrystalDecisions.Enterprise.InfoStore, Version=9.2.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />-->
      </assemblies>
    </compilation>
    <customErrors mode="RemoteOnly" defaultRedirect="Error.aspx">
      <error redirect="404.aspx" statusCode="404" />
    </customErrors>
    <authentication mode="Forms">
      <forms name="Login" timeout="50000000" loginUrl="~/AsiCommon/Controls/Shared/FormsAuthentication/Login.aspx" />
    </authentication>
    <imisSearch defaultProvider="AsiSearchProvider">
      <providers>
        <add name="AsiSearchProvider" type="Asi.Providers.Search.LuceneSearchProvider, Asi.Providers" catalog="iMIS" />
        <!--<add name="AsiSearchProvider" type="RavenPublishing.Providers.RavenSearchProvider, RavenPublishing" catalog="iMIS"/>-->
      </providers>
    </imisSearch>
    <roleManager enabled="true" defaultProvider="ImisRoleProvider">
      <providers>
        <clear />
        <add name="ImisRoleProvider" type="Asi.Providers.AsiRoleProviderV10, Asi.V10" applicationName="iMIS" />
      </providers>
    </roleManager>
    <membership defaultProvider="AsiMembershipProvider">
      <providers>
        <add name="AsiMembershipProvider" type="Asi.Providers.AsiMembershipProviderV10, Asi.V10" provider="CustomizedProvider" />
        <add name="CustomizedProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="DataSource.iMIS.Connection" applicationName="iMIS" requiresQuestionAndAnswer="false" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" />
      </providers>
    </membership>
    <profile defaultProvider="AsiProfileProvider">
      <providers>
        <add name="AsiProfileProvider" type="Asi.Providers.AsiProfileProvider, Asi.Providers" connectionStringName="DataSource.iMIS.Connection" applicationName="iMIS" />
        <add name="CustomizedProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="DataSource.iMIS.Connection" applicationName="iMIS" />
      </providers>
      <!-- Note on properties: Do not use any characters other than [A-Za-z0-9_] in the property name. -->
      <properties>
        <group name="UI">
          <add name="Theme" type="System.String" />
          <add name="DocumentSystemLastRootKey" type="System.Guid" />
          <add name="AutoClosePublishWindow" type="System.Boolean" defaultValue="false" />
          <add name="DisplayObjectBrowserSummaryPane" type="System.Boolean" defaultValue="true" />
        </group>
        <group name="IQA">
          <add name="AdvancedMode" type="System.Boolean" defaultValue="false" />
          <add name="LastDesignTab" type="System.Int32" defaultValue="0" />
        </group>
        <group name="CM">
          <add name="NDLastWebsiteKey" type="System.Guid" />
          <add name="CDLastContentItemKey" type="System.Guid" />
          <add name="TextOnly" type="System.Boolean" defaultValue="false" />
          <add name="EnableSurfToEdit" type="System.Boolean" defaultValue="false" />
        </group>
        <group name="History">
          <add name="RecentItems" type="Asi.Providers.Profile.RecentlyAccessedItemCollection" />
        </group>
      </properties>
    </profile>
    <webParts>
      <personalization defaultProvider="CMPageLayoutPersonalizationProvider">
        <providers>
          <add name="CMPageLayoutPersonalizationProvider" type="PageLayoutPersonalizationProvider, Asi.Business.ContentManagement" />
        </providers>
      </personalization>
    </webParts>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="120" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" enableClientBasedCulture="true" culture="auto" uiCulture="auto" />
    <httpHandlers>
      <remove verb="*" path="*.config" />
      <add verb="*" path="web.config" type="System.Web.HttpForbiddenHandler" />
      <add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax" />
      <add verb="GET" path="__Picture.axd" type="Asi.Web.UI.WebControls.ImageGrabber" />
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <add verb="*" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" validate="false" />
      <add verb="*" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler, Telerik.Web.UI" />
      <add verb="*" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" validate="false" />
      <add verb="*" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" validate="false" />
      <add verb="*" validate="false" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI" />
      <!--<add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=9.2.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" validate="false" />-->
    </httpHandlers>
    <httpModules>
      <add type="Asi.Web.NavController,Asi.Web" name="Asi.Web" />
      <add type="Asi.Web.UrlRewriter,Asi.Web" name="UrlRewriter" />
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" />
    </httpModules>
    <xhtmlConformance mode="Transitional" />
    <!-- Used by Asi.iBO -->
    <paymentGatewayService>
      <providers>
        <add name="PayFlowProPaymentGatewayProvider" type="Asi.PaymentGateway.PayflowProPaymentGatewayProvider, PayflowProPaymentGatewayProvider" authorizationAccounts="VERISIGN,PaymentTech,PAYFLOWPRO" />
        <add name="DialectPaymentGatewayProvider" type="Asi.PaymentGateway.DialectPaymentGatewayProvider, DialectPaymentGatewayProvider" authorizationAccounts="SAFEPAY" processingMode="purchase" />
        <add name="NoProcessingPaymentGatewayProvider" type="Asi.PaymentGateway.NoProcessingPaymentGatewayProvider, NoProcessingPaymentGatewayProvider" authorizationAccounts="NOPROCESS,DEBIT" />
        <add name="PayPalPaymentGatewayProvider" type="Asi.PaymentGateway.PayPalPaymentGatewayProvider, PayPalPaymentGatewayProvider" authorizationAccounts="PAYPALEC" />
        <add name="MonerisPaymentGatewayProvider" type="Asi.PaymentGateway.MonerisPaymentGatewayProvider, MonerisPaymentGatewayProvider" authorizationAccounts="MONERIS" />
        <add name="TnsPayPaymentGatewayProvider" type="Asi.PaymentGateway.TnsPayPaymentGatewayProvider, TnsPayPaymentGatewayProvider" authorizationAccounts="TNSPAYAC,TNSPAYP" />
      </providers>
    </paymentGatewayService>
    <webServices>
      <protocols>
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <sessionPageState historySize="20" />
    <httpRuntime executionTimeout="3600" requestValidationMode="4.5" maxRequestLength="10240" />
  </system.web>
  <system.net>
    <mailSettings>
      <!--<smtp deliveryFormat="international" from="no-reply@abi.org">
        <network host="smtp.sendgrid.net" enableSsl="true" port="587" userName="apikey" password="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" defaultCredentials="true"/>
      </smtp>-->
      <smtp deliveryFormat="International">
        <network host="smtp.sendgrid.net"  port="587" defaultCredentials="false" userName="apikey" password="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"/>
      </smtp>
    </mailSettings>
  </system.net>
  <iMIS>
    <SystemParams>
      <add key="Authenticate.Anonymous.Allow" value="true" />
      <add key="Authenticate.Anonymous.UserId" value="GUEST" />
      <add key="Authenticate.PersistLogin.Allow" value="true" />
      <add key="Authenticate.PersistLogin.Minutes" value="0" />
      <add key="Authenticate.SecureLoginPage" value="false" />
      <add key="Authenticate.WindowsIdentity.Allow" value="true" />
      <add key="Browser.DisableContextMenu" value="true" />
      <add key="CustomErrors.ErrorPage.DisplayMode.Debug" value="false" />
      <add key="SqlCommand.CommandTimeout" value="300" />
      <add key="AtomCompiler.DebugCompile" value="false" />
      <add key="PagedResults.MaxRecords" value="50000" />
      <add key="Authentication.AllowAddUserToAuthStore" value="true" />
      <add key="Authentication.AllowUsernameChange" value="true" />
      <add key="Authentication.PasswordResetTokenExpireDays" value="7" />
      <add key="BOD.AssemblyCachePeriod" value="5" />
      <add key="Sitemap.CachePeriod" value="5" />
      <add key="Communities.AllowedUploadFileTypes" value="FOL,DOC,PDF,TXT,HTM,HTML,GIF,JPG,PNG,RTF,ZIP,XML,WMV" />
      <add key="Communities.EmbedImageAttachments" value="true" />
      <add key="Communities.EmbedVideoAttachments" value="true" />
      <add key="Communities.EmbedAudioAttachments" value="true" />
      <add key="Content.EnablePageCaching" value="true" />
    </SystemParams>
    <Soa>
      <importedDataContractBuilders>
        <importedDataContractBuilder type="Asi.Web.iParts.Common.FileImporterForWebServices.ComboOrderContractBuilder, Asi.Web.iParts.Common.FileImporterForWebServices" />
      </importedDataContractBuilders>
      <settings>
        <setting key="AVSEndpointType" value="Soap11" />
        <setting key="AVSUri" value="http://corevalidation.advsol.com/CoreValidation/Asi.Avs.CoreValidator.AddressValidationService.svc" />
        <setting key="AVSUser" value="ASIAVS" />
        <setting key="AVSPassword" value="AVS!05062011" />
        <setting key="AVSCountries" value="US,USA,CA,CAN" />
        <!-- <setting key="EntityManagerDefaultBaseUri" value="net.tcp://localhost:808/iMISMain10/NetTcp" /> -->
        <setting key="ImportFilesLocation" value="c:\iMIS\Import Files" />
        <setting key="ImportUserName" value="NeedUser" />
        <setting key="ImportUserPassword" value="NeedPassword" />
        <setting key="EntityManagerDefaultBaseUri" value="net.tcp://iMISEXT01:808/Asi.Scheduler_IMIS20/Soa/NetTcp" />
        <setting key="EntityManagerDefaultEndpointType" value="NetTcp" />
      </settings>
      <contractAssemblies>
        <contractAssembly assembly="Asi.Soa.Core.Contracts" />
        <contractAssembly assembly="Asi.Soa.Membership.Contracts" />
        <contractAssembly assembly="Asi.Soa.Communications.Contracts" />
        <contractAssembly assembly="Asi.Soa.Commerce.Contracts" />
        <contractAssembly assembly="Asi.Soa.Events.Contracts" />
        <contractAssembly assembly="Asi.Soa.Fundraising.Contracts" />
        <contractAssembly assembly="Asi.Soa.Nrds.Contracts" />
      </contractAssemblies>
    </Soa>
    <log4net>
      <!-- Configure file logging -->
      <appender name="FileAppender" type="log4net.Appender.FileAppender">
        <file value="..\\Asi.WebRoot.log" />
        <appendToFile value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%d{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff} %p %t %c - %m%n" />
        </layout>
        <filter type="log4net.Filter.LevelRangeFilter">
          <levelMin value="WARN" />
          <acceptOnMatch value="true" />
        </filter>
      </appender>
      <!-- Configure Windows event log logging -->
      <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
        <applicationName value="ASI" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
        </layout>
        <filter type="log4net.Filter.LevelRangeFilter">
          <levelMin value="ERROR" />
          <acceptOnMatch value="true" />
        </filter>
      </appender>
      <!-- Enable both appenders -->
      <root>
        <appender-ref ref="FileAppender" />
        <appender-ref ref="EventLogAppender" />
      </root>
    </log4net>
  </iMIS>
  <location path="iMIS/AtomPainter">
    <system.web>
      <xhtmlConformance mode="Legacy" />
    </system.web>
  </location>
  <location path="iMIS/ContentManagement/Displaylink.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="iMIS/ContentManagement/EmailAFriend.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="iMIS/ContentManagement/Template.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="iMIS/ContentManagement/ViewContent.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="iMIS/ContentManagement/WaitDialog.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="iMIS/ContentManagement/Search.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="iMIS/ContentManagement/SearchResultsRow.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="iMIS/ContentManagement">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow roles="SysAdmin,ContentAuthority" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="iMIS/Setup">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow roles="IsStaff" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AsiCommon/Controls/Shared/FileUpload">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="iParts/Common/AdminConsole/AdminConsoleHost.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow roles="IsStaff" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <appSettings>
    <clear />
    <add key="System.WebLogin" value="GUEST" />
    <add key="Request.Url.Authority.ToString" value="localhost" />
    <add key="EmailAddressGlobalErrors" value="testing@advsol.com" />
    <add key="UsingIMISSecurityTable" value="true" />
    <add key="ImisWebServerUrl" value="http://iMISEXT01/IMIS20" />
    <add key="iBOCacheRefreshIntervalSeconds" value="300" />
    <add key="IsStaffSite" value="true" />
    <!-- Set to true to allow debug javascript to be served -->
    <add key="DebugJavascript" value="false" />
    <!-- To sign up for a free Recaptcha account, and acquire API keys for the settings below, visit http://recaptcha.net/whyrecaptcha.html -->
    <add key="RecaptchaPublicKey" value="" />
    <add key="RecaptchaPrivateKey" value="" />
    <!-- allowed values: red, blackglass, white, clean -->
    <add key="RecaptchaTheme" value="white" />
    <!-- uncomment these to use a CDN provider for jQuery script -->
    <!-- <add key="jQueryURLDebug" value="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js" />  -->
    <!-- <add key="jQueryURLRelease" value="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" />  -->
    <add key="secureMembershipWebService" value="true" />
    <add key="secureQueryWebService" value="true" />
    <add key="EnableFacebookApi" value="false" />
    <add key="aspnet:MaxHttpCollectionKeys" value="10000" />
    <!--Lucene Index Path-->
    <add key="IndexPath" value="..\indexServiceProtected\Search\Lucene" />
    <!---S.Moseley settings-->
    <add key="XORITiMISLogin" value="MANAGER"/>
    <add key="XORITiMISPassword" value="reboot66"/>
    <!-- can only be 1 email address in EmailFrom -->
    <add key="EmailFrom" value="billinghelp@abisupport.zendesk.com"/>
    <add key="EmailCC" value="orders@abiworld.org,events@abiworld.org"/> <!--  -->
    <add key="EmailBCC" value=""/>
    <add key="EmailSubjectRegister" value="Thank you for your registration to ABI"/>
    <add key="EmailBody" value="C:\Program Files (x86)\ASI\iMIS\Net\Custom\EmailTemplates\Register.html"/>
    <add key="EmailHotel" value="C:\Program Files (x86)\ASI\iMIS\Net\Custom\EmailTemplates\Hotel.html"/>
    <add key="EmailLogin" value="C:\Program Files (x86)\ASI\iMIS\Net\Custom\EmailTemplates\Login.html"/>
    <add key="EmailSubjectRenew" value="Thank you for renewing your ABI membership"/>
    <add key="EmailBodyRenew" value="C:\Program Files (x86)\ASI\iMIS\Net\Custom\EmailTemplates\Renewal.html"/>
    <add key="EmailBodyJoin" value="C:\Program Files (x86)\ASI\iMIS\Net\Custom\EmailTemplates\Join.html"/>
    <add key="EmailBodyJournal" value="C:\Program Files (x86)\ASI\iMIS\Net\custom\EmailTemplates\Journal.html"/>
    <add key="EmailBodySponsorPay" value="C:\Program Files (x86)\ASI\iMIS\Net\custom\EmailTemplates\SponsorPay.html"/>
    <add key="EmailBodySponsor" value="C:\Program Files (x86)\ASI\iMIS\Net\Custom\EmailTemplates\Sponsor.html"/>
    <add key="EmailBodySponsorComp" value="C:\Program Files (x86)\ASI\iMIS\Net\custom\EmailTemplates\SponsorComp.html"/>
    <add key="EmailBodySponsorCompMember" value="C:\Program Files (x86)\ASI\iMIS\Net\custom\EmailTemplates\SponsorCompMember.html"/>
    <!-- for endowment contributions -->
    <add key="Distribution" value="MAIN"/>
    <add key="Appeal" value="WEB"/>
    <add key="Campaign" value="GEN"/>
    <add key="Fund" value="END"/>
    <add key="EmailFromEndowment" value="endowment@abiworld.org"/>
    <add key="EmailCCEndowment" value="endowment@abiworld.org"/> <!--  -->
    <add key="EmailBCCEndowment" value="orders@abiworld.org"/> <!--  -->
    <add key="EmailSubjectEndowment" value="Thank you for your contribution to the ABI Endowment Fund"/>
    <add key="EmailBodyDonation" value="C:\Program Files (x86)\ASI\iMIS\Net\Custom\EmailTemplates\Donation.html"/>
    <add key="EmailBodyPledge" value="C:\Program Files (x86)\ASI\iMIS\Net\Custom\EmailTemplates\Pledge.html"/>
    <add key="EmailBodyPledgePay" value="C:\Program Files (x86)\ASI\iMIS\Net\Custom\EmailTemplates\PledgePay.html"/>
    <add key="smtpHost" value="127.0.0.1"/>
    <add key="CCAuthAcctCode" value="VERISIGN"/>
    <add key="PrintMessage" value="A confirmation email has been sent to you which you should print for your records."/>
    <add key="UseVerisign" value="Yes"/>
    <add key="SendEmail" value="Yes"/>
    <add key="RenewalURL" value="https://members.abi.org/ABIMBR/Store/Renewal.aspx"/>
    <add key="RegisterURL" value="https://members.abi.org/ABIMBR/Store/Event_Registration.aspx"/>
    <add key="EmailBodyACL" value="C:\Program Files (x86)\ASI\iMIS\Net\Custom\EmailTemplates\ACL.html"/>
    <add key="XORITTestMessage" value=""/>
    <add key="XORITTestEmail" value="steve@xorit.com" />
    <add key="XORITTestEmailBCC" value="steve@xorit.com" />
    <add key="XORITSitePrefix" value="/ABIMBR/Store/"/>
    <add key="XORITErrorEmail" value="errorlogs@abiworld.org,membership@abiworld.org"/>
    <add key="XORITErrorEmailCC" value="skodali@abiworld.org,smoseley@xorit.com"/> 
    <add key="EmailTo" value="smoseley@xorit.com"/>
    <add key="EmailSubject" value="Error with iMIS Web Services IMIS 20"/>
    <add key="BadgeScanAuthString" value="Y@rdGn0m3"/>
    <add key="EmailCLE" value="cle@abiworld.org"/>
    <add key="EmailBodyCLECertificate" value="C:\Program Files (x86)\ASI\iMIS\Net\Custom\EmailTemplates\WebinarCertificate.html"/>
    <add key="StripeWebService" value="http://iMISEXT01/iMISWebServiceStripe/Service.asmx?op=PaymentGatewayAuthorizeCC" />
    <add key="StripeARBatchNumIdentifier" value="STP" /><!-- iMIS BATCH_NUM column is 10 chars so MMDDYYxxxZ where "xxx" is the code entered here - 3 charactes max and the Z is 1 to 9 in the rare case that the Batch is closed in iMIS before the end of the day-->
    <add key="StripeARBatchDescription" value="Auto-created by Stripe Integration" /><!-- 60 char max -->
    <add key="StripeARBatchCreatedBy" value="Stripe" /><!-- 60 char max -->
    <add key="zoom_page_size" value="300" /> <!--live 300 max; dev much smaller, all less than 300-->
    <add key="WebinarMinimalMinutesForCLEinSeconds" value="3000" /><!--live 50 minutes: 3,000; dev 5 minutes: 300;-->
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.htm" />
        <add value="Default.aspx" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="NavController" />
      <remove name="UrlRewriter" />
      <remove name="RadUploadModule" />
      <add name="NavController" type="Asi.Web.NavController,Asi.Web" />
      <add name="UrlRewriter" type="Asi.Web.UrlRewriter,Asi.Web" />
      <add name="RadUploadModule" preCondition="integratedMode" type="Telerik.Web.UI.RadUploadHttpModule" />
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <remove name="ViewStateExceptionModule" />
      <add name="ViewStateExceptionModule" type="Asi.Modules.ViewStateExceptionModule" />
    </modules>
    <handlers>
      <remove name="ImageHandler" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <remove name="Ajax.PageHandlerFactory" />
      <remove name="Telerik.RadUploadProgressHandler.ashx_" />
      <remove name="Telerik.Web.UI.DialogHandler.aspx_" />
      <remove name="Telerik.Web.UI.WebResource.axd_" />
      <remove name="ChartImage.axd_" />
      <remove name="Telerik.Web.UI.SpellCheckHandler.axd_" />
      <remove name="ReportViewerWebControlHandler" />
      <add name="ImageHandler" path="__Picture.axd" verb="*" type="Asi.Web.UI.WebControls.ImageGrabber" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" verb="*" preCondition="integratedMode" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" />
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="Ajax.PageHandlerFactory" verb="POST,GET" path="ajax/*.ashx" preCondition="integratedMode" type="Ajax.PageHandlerFactory, Ajax" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="Telerik.RadUploadProgressHandler.ashx_" verb="*" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" preCondition="integratedMode" />
      <add name="Telerik.Web.UI.DialogHandler.aspx_" verb="*" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler, Telerik.Web.UI" preCondition="integratedMode" />
      <add name="Telerik.Web.UI.WebResource.axd_" verb="*" path=" " type="Telerik.Web.UI.WebResource, Telerik.Web.UI" preCondition="integratedMode" />

      <add name="ChartImage.axd_" path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler" preCondition="integratedMode" />
      <add name="Telerik.Web.UI.SpellCheckHandler.axd_" verb="*" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI" preCondition="integratedMode" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <security>
      <!-- Required to allow .NET Remoting for the Word Merge process engine editor. -->
      <requestFiltering allowDoubleEscaping="True">
        <requestLimits maxAllowedContentLength="10485760" />
      </requestFiltering>
    </security>
    <staticContent>
      <!-- Installer CI build will change this to 2.00:00:00 for customer performance -->
      <clientCache cacheControlMaxAge="2.00:00:00" cacheControlMode="UseMaxAge" />
    </staticContent>
    <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="%SystemDrive%\inetpub\custerr" path="/IMIS20/404.aspx" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
  <system.diagnostics>
    <sources>
      <!--<source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\log\ServerTraces.svclog"/>
        </listeners>
      </source>-->
    </sources>
  </system.diagnostics>
</configuration>
